<template>
    <div class="hello" style="position:relative; bottom:60px">
    <center>
        <img src="../assets/bg.jpg" style="width:1350px; height:500px;"><br>
    <table style="position:relative; bottom:120px;">
      <tr>
        <td><router-link to="/modern"><img src="../assets/modernic.png" style="position:relative; right:50px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; right:50px;">Masakan Modern</h2></router-link></td>
        <td><router-link to="/tradisional"><img src="../assets/modernic.png" style="position:relative; left:10px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:15px;">Masakan Tradisional</h2></router-link></td>
      </tr>
    </table>
    <div style="background-color:#333; padding:20px; position:relative; bottom:50px;" class="col-sm-12 col-sm-offset-1">
        <b><i style="color:white;">@Copyright M Refi</i></b>
    </div>
    </center>
    </div>
</template>
