<template>
  <div class="hello" style="position:relative; bottom:60px">
    <center><br><br>
    <router-link to="/modern">
    <button type="button" class="btn btn-md btn-success" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Masakan Modern</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Masakan </label></td>
        <td><input type="text" v-model="modern.nama_masakan"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Asal Daerah </label></td>
        <td><input type="text" v-model="modern.asal_daerah"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga </label></td>
        <td><input type="number"  v-model="modern.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Keterangan </label></td>
        <td><input type="text" v-model="modern.keterangan" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center><br><br><br><br><br><br>
    <p class="top-right"><b><i>@copyright M Refi</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'ModernForm',
  data () {
    return {
      modern: {
        id: null,
        nama_masakan: '',
        asal_daerah: '',
        harga: '',
        keterangan: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8888/warungmasakan/public/modern/'
      api.get(url + id).then(res => {
        this.modern = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.modern
      let url = 'http://localhost:8888/warungmasakan/public/modern/'

      if (this.modern.id) {
        url += '/' + this.modern.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/modern')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
