<template>
  <div class="hello" style="position:relative; bottom:60px">
<center><br><br>
    <h1>Data Masakan Modern</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lime; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/modern/create">
    <button type="button" class="btn btn-sm btn-success " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Nama Masakan</th>
        <th>Asal Daerah</th>
        <th>Harga</th>
        <th>Keterangan</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(modern, i) in data_modern" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ modern.nama_masakan }}</td>
          <td>{{ modern.asal_daerah }}</td>
          <td>{{ modern.harga }}</td>
          <td>{{ modern.keterangan }}</td>
          <td>
            <router-link :to="'/modern/' + modern.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(modern.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center><br><br><br><br><br>
    <p class="top-right"><b><i>@copyright M Refi</i></b></p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Modern',
  data () {
    return {
      data_modern: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost:8888/warungmasakan/public/'
      let url2 = 'modern'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_modern = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost:8888/warungmasakan/public/modern/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
